# Dependencies and build artifacts
node_modules/
.expo/
dist/
web-build/
android/
ios/

# Environment files
.env*
!.env.example

# Documentation, markdown and IDE files
*.md
*.pdf
*.apk
*.aab
.git/
.vscode/
.idea/
